.menu {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	padding-top: 20px;
	color: var(--ion-text-color);
	outline: 5px solid var(--ion-color-border);
	background-color: var(--ion-background-color-light);

	.title {
		font-size: 2rem;
		letter-spacing: -2px;
		word-spacing: -5px;
	}

	.buttons-container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 40px;
		width: 100%;
	}

	.scoreboard-container {
		display: flex;
		flex-direction: column;
		padding-left: 40px;
		padding-right: 40px;
		width: 100%;
		z-index: 1;

		.score-title {
			align-self: center;
			background-color: var(--ion-color-primary);
			border: 5px solid var(--ion-color-border);
			padding: 10px;
			z-index: 1;
		}

		.scores-container {
			background-color: var(--ion-color-primary);
			border: 5px solid var(--ion-color-border);
			padding-top: 10px;
			margin-top: -15px;

			table {
				margin-top: 10px;
				margin-bottom: 10px;
				width: 100%;

				td {
					text-align: center;
					padding-top: 10px;
				}
			}
		}
	}
}

.bg-image {
	display: flex;
	position: sticky;
	bottom: -50px;
	flex-grow: 1;
	width: 100%;
	flex-direction: column-reverse;
}

@media (min-width: 525px) {
	.menu {
		padding-top: 50px;
	}

	.title {
		font-size: 2.2rem;
	}
}
