<ion-content class="no-scroll">
	<div class="container menu">
		<h1 class="animate__animated animate__lightSpeedInLeft title">
			Rachadores
		</h1>

		<div class="buttons-container">
			<button class="game-button" routerLink="/game">PLAY</button>
			<button class="game-button" (click)="app.exitApp()">EXIT</button>
		</div>

		<div class="scoreboard-container" *ngIf="scores.length">
			<div class="score-title">SCOREBOARD</div>

			<div class="scores-container">
				<table>
					<tr>
						<th>PLAYER</th>
						<th>SCORE</th>
					</tr>
					<tr *ngFor="let score of scores">
						<td>{{score.player}}</td>
						<td>{{score.score}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="bg-image">
			<img src="../../assets/menu/background.gif" />
		</div>
	</div>
</ion-content>
