.menu {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	padding-top: 50px;
	color: var(--ion-text-color);
	outline: 5px solid var(--ion-color-border);
	background-color: var(--ion-background-color-light);

	.title {
		font-size: 2.2rem;
		letter-spacing: -2px;
		word-spacing: -5px;
	}

	.buttons-container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 40px;
		width: 100%;
	}

	.bg-image {
		display: flex;
		flex-grow: 1;
		align-items: flex-end;
		width: 100%;

		img {
			width: 100%;
		}
	}
}
