<ion-content class="no-scroll">
	<div class="container">
		<!-- Top Bar -->
		<div class="bar">
			<button class="pause" (click)="game.pause()"></button>
			<p class="score">SCORE: {{ game.score | async }}</p>
		</div>
		<!-- Game Container -->
		<div id="game-phaser"></div>
	</div>
</ion-content>

<!-- Game Over Modal -->
<app-gameover-modal
	*ngIf="game.isGameOver | async"
	[game]="game"
></app-gameover-modal>

<!-- Pause Modal -->
<app-pause-modal *ngIf="game.isPaused | async" [game]="game"></app-pause-modal>
