<app-modal class="gameover-modal">
	<h1 style="text-align: center">GAME OVER</h1>

	<h2>SCORE: {{ game.score | async }}</h2>
	<h2>BEST: {{ bestScore }}</h2>

	<form [formGroup]="form" #ngForm="ngForm">
		<label for="player">Player:</label>
		<input
			class="player"
			name="player"
			type="text"
			spellcheck="false"
			[appMaxLength]="3"
			formControlName="player"
			#playerInput
		/>
		<div class="characters-minimal" *ngIf="form.controls.player.invalid">
			Must have three characters
		</div>
	</form>

	<div class="buttons-container">
		<button
			class="game-button block"
			(click)="restart()"
			[disabled]="form.controls.player.invalid"
		>
			RESTART
		</button>
		<button class="game-button block" routerLink="/menu" (click)="onExit()">
			BACK
		</button>
	</div>
</app-modal>
