.gameover-modal {
	.buttons-container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 15px;
		width: 100%;
	}

	.player {
		display: inline-block;
		text-align: center;
		font-size: 4rem;
		width: 100%;
		border: 5px solid var(--ion-color-border);
		background-color: transparent;
	}

	.player:focus {
		outline: none;
	}

	.characters-minimal {
		font-size: 0.8rem;
		text-align: center;
	}
}
